.main-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    color: #654CFF;
    font-size: 24px;
    font-weight: 700;
}

.main-schedule{
    border: 5px solid #654CFF;
}

.main-header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #654CFF;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 0;
}